@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    margin: 0;
    padding: 10px;
    background-color: #F4F5F9;
    font-family: 'Nunito', sans-serif;
    color:#717171;
}

@media screen and (min-width: 640px) {
    body {
        padding: 28px;
    }
  }

@media screen and (min-width: 1080px) {
    body {
        padding: 40px;
    }
  }